.login-page {
  overflow: hidden;
}

.imgDes {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 150;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 2px;
}
.imgDesCS {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 150;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}
#conekttoLogo {
  width: 140;
  height: 140;
  left: 378px;
  top: 92px;
  border: 2px;
}
#prodDes {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #1c2c40;
}

.login-page .app {
  margin: 2rem;
}

.login-page a {
  color: #08c;
}

.login-page code {
  background: #eee;
  padding: 0.1rem;
  font-family: "Menlo";
  font-size: 13px;
  color: #ff00aa;
}

.login-page input {
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-page input[type="text"]:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.login-page input.error {
  border-color: red;
}

.login-page label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.login-page .input-feedback {
  color: red;
  margin-top: 0.25rem;
}

#button1 {
  max-width: 150px;
  margin: 20px 0;
  /* float: right; */
  padding: 8px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #2c71c7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
#button2 {
  max-width: 150px;
  margin: 20px 0;
  /* float: right; */
  padding: 8px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #2c71c7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}


.google-login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  width: 260px;
  height: 45px;
  background-color: white;
  border-radius: 4px;
  color: #444;
  font-size: 12px;
  font-weight: 400;  
  /*border: thin solid #888;
  box-shadow: 1px 1px 1px grey;*/
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  letter-spacing: 0.3px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-login-button:hover {
  background-color: #30363d;
  color: #fff
}

.github-login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 45px;
  background-color: #24292e;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
  letter-spacing: 0.3px;
  cursor: pointer;
  white-space: nowrap;
}

.github-login-button:hover {
  /*background-color: #30363d;*/
  background-color: #fff;
  color: #444;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.github-login-button i {
  margin-right: 10px;
}

.github-login-button i.fab {
  font-size: 20px;
}

/**** test css for linkedIn ***/

.linkedIn-login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 45px;
  background-color: #0A66c2;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 400; 
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;  
  letter-spacing: 0.3px;
  padding-left: -15px;
  /*vertical-align: center;
  background-color: #0B78B7;
  font: 500 14px/40px Roboto;
  padding-left: 58px;  
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
  overflow: hidden;*/
}

.linkedIn-ico-wrapper {
  padding-left: -6px;
  width: 62px;
  height: 42px;
  background-color: white;  
  box-sizing: border-box;
  border-radius: 5px;
}

.linkedIn-login-button:hover {
  /*background-color: #30363d;*/
  background-color: #fff;
  color: #444;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}