.wrapper {
    flex-grow: 1;
    height: 100%;
}

.react-flow__node .react-flow__handle {
    width: 12px;
    height: 20px;
    border-radius: 1px;
}

.react-flow__handle__muted {
    width: 6px !important;
    height: 12px !important;
    border-radius: 1px;
}

.react-flow__panel.bottom {
    bottom: 0;
    margin-bottom: 75px;
}

.react-flow__panel button {
    background-color: #fefefe;
}
